body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: "Lucida Grande", "Helvetica Neue", Roboto, "Droid Sans", Prelude, Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #334;
}
@media only screen and (max-width: 768px) {
	body {
		font-size: 87.5%;
	}
}
section.congratulations {
	display: block;
	padding: 50px;
	text-align: right;
	background-color: #79b;
	position: absolute;
	top: 0;
	left: 0;
	right: 50%;
	bottom: 0;
	border-right: 6px solid #ace;
	background-color: #79b;
	background-image: -webkit-gradient(linear, left top, right top, from(#79b), to(#79b));
	background-image: -webkit-linear-gradient(left, #9bd, #79b);
	background-image: -moz-linear-gradient(left, #9bd, #79b);
	background-image: -ms-linear-gradient(left, #9bd, #79b);
	background-image: -o-linear-gradient(left, #9bd, #79b);
	background-image: linear-gradient(left, #9bd, #79b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99bbdd', EndColorStr='#7799bb');
}
section.congratulations h1 {
	margin: 0 0 25px 0;
	padding: 0;
	color: #fff;
    font-family: Arial, sans-serif;
	font-size: 4.5em;
	text-shadow: 3px 3px 0 #334;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
section.congratulations p {
	text-shadow: 1px 1px 0 #334;
	font-size: 1.25em;
	color: #fff;
	line-height: 1.5em;
	margin: 0 0 25px 0;
}
section.congratulations a, section.congratulations a:link, section.congratulations a:visited {
	color: white;
	text-decoration: underline;
}
section.congratulations aside {
	display: block;
	color: white;
	font-size: 0.875em;
	font-style: italic;
}
section.instructions {
	display: block;
	padding: 50px;
	text-align: left;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	bottom: 0;
}
section.instructions h2 {
	margin: 0 0 25px 0;
	padding: 0 0 0 30px;
	color: #334;
	font-family: Arial, sans-serif;
	font-size: 1.875em;
	padding-bottom: 3px;
	border-bottom: 6px solid #f90;
	background: url(logo_aws_reduced.gif) left center no-repeat;
}
section.instructions ul {
	padding: 0;
	margin: 0 0 25px 0;
	list-style-type: square;
	list-style-position: inside;
}
section.instructions ul li {
	margin-left: 0;
	padding-left: 0;
	color: #f90;
	font-size: 0.875em;
	line-height: 1.5em;
}
section.instructions a, section.instructions a:link {
	color: #79b;
	text-decoration: underline;
}
section.instructions a:visited {
	color: #ace;
}
section.instructions a:hover {
	color: #f90;
}

@media only screen and (max-width: 1024px) {
	section.congratulations h1 {
		font-size: 4em;
	}
}
@media only screen and (max-width: 900px) {
	section.congratulations h1 {
		font-size: 3.5em;
	}
}
@media only screen and (max-width: 768px) {
	section.congratulations h1 {
		font-size: 3em;
	}
}

@media only screen and (max-width: 650px) {
	html {
		-webkit-text-size-adjust: none;
	}
	section.congratulations, section.instructions {
		position: relative;
		margin:; 0;
		border: 0;
		padding: 10px;
		width: 100%;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		border-bottom: 6px solid #ace;
		text-align: left;
	}
}