*.pyc
*.pyo
*.class
*~
*#
/doc/generated/*
/runpy
/build
/.idea
/dist
/out
eb.py
awsebcli.egg-info/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.ebe.*
!.elasticbeanstalk/*.global.*
