{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2010-12-01",
    "endpointPrefix":"elasticbeanstalk",
    "serviceFullName":"AWS Elastic Beanstalk",
    "signatureVersion":"v4",
    "xmlNamespace":"http://elasticbeanstalk.amazonaws.com/docs/2010-12-01/",
    "protocol":"query"
  },
  "operations":{
    "AbortEnvironmentUpdate":{
      "name":"AbortEnvironmentUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AbortEnvironmentUpdateMessage"},
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "ApplyEnvironmentManagedAction":{
      "name":"ApplyEnvironmentManagedAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ApplyEnvironmentManagedActionRequest"},
      "output":{
        "shape":"ApplyEnvironmentManagedActionResult",
        "resultWrapper":"ApplyEnvironmentManagedActionResult"
      },
      "errors":[
        {
          "shape":"ElasticBeanstalkServiceException",
          "exception":true
        },
        {
          "shape":"MissingRequiredResourceException",
          "error":{
            "code":"MissingRequiredResourceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Required resources associated with specified parameters are missing.</p>"
        },
        {
          "shape":"ManagedActionInvalidStateException",
          "error":{
            "code":"ManagedActionInvalidStateException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Managed update is not in a valid state to be modified</p>"
        }
      ]
    },
    "CheckDNSAvailability":{
      "name":"CheckDNSAvailability",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CheckDNSAvailabilityMessage"},
      "output":{
        "shape":"CheckDNSAvailabilityResultMessage",
        "resultWrapper":"CheckDNSAvailabilityResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "ComposeEnvironments":{
      "name":"ComposeEnvironments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ComposeEnvironmentsMessage"},
      "output":{
        "shape":"EnvironmentDescriptionsMessage",
        "resultWrapper":"ComposeEnvironmentsResult"
      },
      "errors":[
        {
          "shape":"TooManyEnvironmentsException",
          "error":{
            "code":"TooManyEnvironmentsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit of allowed environments associated with the account.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        },
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        }
      ]
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateApplicationMessage"},
      "output":{
        "shape":"ApplicationDescriptionMessage",
        "resultWrapper":"CreateApplicationResult"
      },
      "errors":[
        {
          "shape":"TooManyApplicationsException",
          "error":{
            "code":"TooManyApplicationsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit on the number of applications associated with their account.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        },
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        }
      ]
    },
    "CreateApplicationVersion":{
      "name":"CreateApplicationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateApplicationVersionMessage"},
      "output":{
        "shape":"ApplicationVersionDescriptionMessage",
        "resultWrapper":"CreateApplicationVersionResult"
      },
      "errors":[
        {
          "shape":"TooManyApplicationsException",
          "error":{
            "code":"TooManyApplicationsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit on the number of applications associated with their account.</p>"
        },
        {
          "shape":"TooManyApplicationVersionsException",
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit on the number of application versions associated with their account.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        },
        {
          "shape":"S3LocationNotInServiceRegionException",
          "error":{
            "code":"S3LocationNotInServiceRegionException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified S3 bucket does not belong to the S3 region in which the service is running.</p>"
        },
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        }
      ]
    },
    "CreateConfigurationTemplate":{
      "name":"CreateConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConfigurationTemplateMessage"},
      "output":{
        "shape":"ConfigurationTemplateDescription",
        "resultWrapper":"CreateConfigurationTemplateResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        },
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        },
        {
          "shape":"TooManyConfigurationTemplatesException",
          "error":{
            "code":"TooManyConfigurationTemplatesException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit on the number of configuration templates associated with their account.</p>"
        }
      ]
    },
    "CreateEnvironment":{
      "name":"CreateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEnvironmentMessage"},
      "output":{
        "shape":"EnvironmentDescription",
        "resultWrapper":"CreateEnvironmentResult"
      },
      "errors":[
        {
          "shape":"TooManyEnvironmentsException",
          "error":{
            "code":"TooManyEnvironmentsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit of allowed environments associated with the account.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        },
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        }
      ]
    },
    "CreateStorageLocation":{
      "name":"CreateStorageLocation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"CreateStorageLocationResultMessage",
        "resultWrapper":"CreateStorageLocationResult"
      },
      "errors":[
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        },
        {
          "shape":"S3SubscriptionRequiredException",
          "error":{
            "code":"S3SubscriptionRequiredException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller does not have a subscription to Amazon S3.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationMessage"},
      "errors":[
        {
          "shape":"OperationInProgressException",
          "error":{
            "code":"OperationInProgressFailure",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because another operation is already in progress affecting an element in this activity.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "DeleteApplicationVersion":{
      "name":"DeleteApplicationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationVersionMessage"},
      "errors":[
        {
          "shape":"SourceBundleDeletionException",
          "error":{
            "code":"SourceBundleDeletionFailure",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to delete the Amazon S3 source bundle associated with the application version, although the application version deleted successfully.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        },
        {
          "shape":"OperationInProgressException",
          "error":{
            "code":"OperationInProgressFailure",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because another operation is already in progress affecting an element in this activity.</p>"
        },
        {
          "shape":"S3LocationNotInServiceRegionException",
          "error":{
            "code":"S3LocationNotInServiceRegionException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified S3 bucket does not belong to the S3 region in which the service is running.</p>"
        }
      ]
    },
    "DeleteConfigurationTemplate":{
      "name":"DeleteConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConfigurationTemplateMessage"},
      "errors":[
        {
          "shape":"OperationInProgressException",
          "error":{
            "code":"OperationInProgressFailure",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because another operation is already in progress affecting an element in this activity.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "DeleteEnvironmentConfiguration":{
      "name":"DeleteEnvironmentConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEnvironmentConfigurationMessage"}
    },
    "DescribeApplicationVersions":{
      "name":"DescribeApplicationVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicationVersionsMessage"},
      "output":{
        "shape":"ApplicationVersionDescriptionsMessage",
        "resultWrapper":"DescribeApplicationVersionsResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "DescribeApplications":{
      "name":"DescribeApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicationsMessage"},
      "output":{
        "shape":"ApplicationDescriptionsMessage",
        "resultWrapper":"DescribeApplicationsResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "DescribeConfigurationOptions":{
      "name":"DescribeConfigurationOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConfigurationOptionsMessage"},
      "output":{
        "shape":"ConfigurationOptionsDescription",
        "resultWrapper":"DescribeConfigurationOptionsResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        },
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        }
      ]
    },
    "DescribeConfigurationSettings":{
      "name":"DescribeConfigurationSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConfigurationSettingsMessage"},
      "output":{
        "shape":"ConfigurationSettingsDescriptions",
        "resultWrapper":"DescribeConfigurationSettingsResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        },
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        }
      ]
    },
    "DescribeEnvironmentHealth":{
      "name":"DescribeEnvironmentHealth",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEnvironmentHealthRequest"},
      "output":{
        "shape":"DescribeEnvironmentHealthResult",
        "resultWrapper":"DescribeEnvironmentHealthResult"
      },
      "errors":[
        {
          "shape":"InvalidRequestException",
          "error":{
            "code":"InvalidRequestException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request is invalid, please check parameters and their values</p>"
        },
        {
          "shape":"ElasticBeanstalkServiceException",
          "exception":true
        }
      ]
    },
    "DescribeEnvironmentManagedActionHistory":{
      "name":"DescribeEnvironmentManagedActionHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEnvironmentManagedActionHistoryRequest"},
      "output":{
        "shape":"DescribeEnvironmentManagedActionHistoryResult",
        "resultWrapper":"DescribeEnvironmentManagedActionHistoryResult"
      },
      "errors":[
        {
          "shape":"ElasticBeanstalkServiceException",
          "exception":true
        },
        {
          "shape":"MissingRequiredResourceException",
          "error":{
            "code":"MissingRequiredResourceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Required resources associated with specified parameters are missing.</p>"
        }
      ]
    },
    "DescribeEnvironmentManagedActions":{
      "name":"DescribeEnvironmentManagedActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEnvironmentManagedActionsRequest"},
      "output":{
        "shape":"DescribeEnvironmentManagedActionsResult",
        "resultWrapper":"DescribeEnvironmentManagedActionsResult"
      },
      "errors":[
        {
          "shape":"ElasticBeanstalkServiceException",
          "exception":true
        },
        {
          "shape":"MissingRequiredResourceException",
          "error":{
            "code":"MissingRequiredResourceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Required resources associated with specified parameters are missing.</p>"
        }
      ]
    },
    "DescribeEnvironmentResources":{
      "name":"DescribeEnvironmentResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEnvironmentResourcesMessage"},
      "output":{
        "shape":"EnvironmentResourceDescriptionsMessage",
        "resultWrapper":"DescribeEnvironmentResourcesResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "DescribeEnvironments":{
      "name":"DescribeEnvironments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEnvironmentsMessage"},
      "output":{
        "shape":"EnvironmentDescriptionsMessage",
        "resultWrapper":"DescribeEnvironmentsResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventsMessage"},
      "output":{
        "shape":"EventDescriptionsMessage",
        "resultWrapper":"DescribeEventsResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "DescribeInstancesHealth":{
      "name":"DescribeInstancesHealth",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstancesHealthRequest"},
      "output":{
        "shape":"DescribeInstancesHealthResult",
        "resultWrapper":"DescribeInstancesHealthResult"
      },
      "errors":[
        {
          "shape":"InvalidRequestException",
          "error":{
            "code":"InvalidRequestException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request is invalid, please check parameters and their values</p>"
        },
        {
          "shape":"ElasticBeanstalkServiceException",
          "exception":true
        }
      ]
    },
    "ListAvailableSolutionStacks":{
      "name":"ListAvailableSolutionStacks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ListAvailableSolutionStacksResultMessage",
        "resultWrapper":"ListAvailableSolutionStacksResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "RebuildEnvironment":{
      "name":"RebuildEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebuildEnvironmentMessage"},
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "RequestEnvironmentInfo":{
      "name":"RequestEnvironmentInfo",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RequestEnvironmentInfoMessage"},
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        },
        {
          "shape":"MissingRequiredResourceException",
          "error":{
            "code":"MissingRequiredResourceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Required resources associated with specified parameters are missing.</p>"
        }
      ]
    },
    "RestartAppServer":{
      "name":"RestartAppServer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestartAppServerMessage"},
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "RetrieveEnvironmentInfo":{
      "name":"RetrieveEnvironmentInfo",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RetrieveEnvironmentInfoMessage"},
      "output":{
        "shape":"RetrieveEnvironmentInfoResultMessage",
        "resultWrapper":"RetrieveEnvironmentInfoResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "SwapEnvironmentCNAMEs":{
      "name":"SwapEnvironmentCNAMEs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SwapEnvironmentCNAMEsMessage"},
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "TerminateEnvironment":{
      "name":"TerminateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TerminateEnvironmentMessage"},
      "output":{
        "shape":"EnvironmentDescription",
        "resultWrapper":"TerminateEnvironmentResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateApplicationMessage"},
      "output":{
        "shape":"ApplicationDescriptionMessage",
        "resultWrapper":"UpdateApplicationResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "UpdateApplicationVersion":{
      "name":"UpdateApplicationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateApplicationVersionMessage"},
      "output":{
        "shape":"ApplicationVersionDescriptionMessage",
        "resultWrapper":"UpdateApplicationVersionResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        }
      ]
    },
    "UpdateConfigurationTemplate":{
      "name":"UpdateConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConfigurationTemplateMessage"},
      "output":{
        "shape":"ConfigurationTemplateDescription",
        "resultWrapper":"UpdateConfigurationTemplateResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        },
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        }
      ]
    },
    "UpdateEnvironment":{
      "name":"UpdateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEnvironmentMessage"},
      "output":{
        "shape":"EnvironmentDescription",
        "resultWrapper":"UpdateEnvironmentResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        },
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        }
      ]
    },
    "ValidateConfigurationSettings":{
      "name":"ValidateConfigurationSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ValidateConfigurationSettingsMessage"},
      "output":{
        "shape":"ConfigurationSettingsValidationMessages",
        "resultWrapper":"ValidateConfigurationSettingsResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TemporaryMaintainanceException",
          "error":{
            "code":"TemporaryMaintainanceException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
        },
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        }
      ]
    }
  },
  "shapes":{
    "AbortEnvironmentUpdateMessage":{
      "type":"structure",
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "EnvironmentName":{"shape":"EnvironmentName"}
      }
    },
    "AbortableOperationInProgress":{"type":"boolean"},
    "ActionHistoryStatus":{
      "type":"string",
      "enum":[
        "Completed",
        "Failed",
        "Unknown"
      ]
    },
    "ActionStatus":{
      "type":"string",
      "enum":[
        "Scheduled",
        "Pending",
        "Running",
        "Unknown"
      ]
    },
    "ActionType":{
      "type":"string",
      "enum":[
        "InstanceRefresh",
        "PlatformUpdate",
        "Unknown"
      ]
    },
    "ApplicationDescription":{
      "type":"structure",
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "Description":{"shape":"Description"},
        "DateCreated":{"shape":"CreationDate"},
        "DateUpdated":{"shape":"UpdateDate"},
        "Versions":{"shape":"VersionLabelsList"},
        "ConfigurationTemplates":{"shape":"ConfigurationTemplateNamesList"}
      }
    },
    "ApplicationDescriptionList":{
      "type":"list",
      "member":{"shape":"ApplicationDescription"}
    },
    "ApplicationDescriptionMessage":{
      "type":"structure",
      "members":{
        "Application":{"shape":"ApplicationDescription"}
      }
    },
    "ApplicationDescriptionsMessage":{
      "type":"structure",
      "members":{
        "Applications":{"shape":"ApplicationDescriptionList"}
      }
    },
    "ApplicationMetrics":{
      "type":"structure",
      "members":{
        "Duration":{"shape":"NullableInteger"},
        "RequestCount":{"shape":"RequestCount"},
        "StatusCodes":{"shape":"StatusCodes"},
        "Latency":{"shape":"Latency"}
      }
    },
    "ApplicationName":{
      "type":"string",
      "min":1,
      "max":100,
      "pattern":"[^/]+"
    },
    "ApplicationNamesList":{
      "type":"list",
      "member":{"shape":"ApplicationName"}
    },
    "ApplicationVersionDescription":{
      "type":"structure",
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "Description":{"shape":"Description"},
        "VersionLabel":{"shape":"VersionLabel"},
        "SourceBuildInformation":{"shape":"SourceBuildInformation"},
        "SourceBundle":{"shape":"S3Location"},
        "DateCreated":{"shape":"CreationDate"},
        "DateUpdated":{"shape":"UpdateDate"},
        "Status":{"shape":"ApplicationVersionStatus"}
      }
    },
    "ApplicationVersionDescriptionList":{
      "type":"list",
      "member":{"shape":"ApplicationVersionDescription"}
    },
    "ApplicationVersionDescriptionMessage":{
      "type":"structure",
      "members":{
        "ApplicationVersion":{"shape":"ApplicationVersionDescription"}
      }
    },
    "ApplicationVersionDescriptionsMessage":{
      "type":"structure",
      "members":{
        "ApplicationVersions":{"shape":"ApplicationVersionDescriptionList"}
      }
    },
    "ApplicationVersionProccess":{"type":"boolean"},
    "ApplicationVersionStatus":{
      "type":"string",
      "enum":[
        "Processed",
        "Unprocessed",
        "Failed",
        "Processing"
      ]
    },
    "ApplyEnvironmentManagedActionRequest":{
      "type":"structure",
      "required":["ActionId"],
      "members":{
        "EnvironmentName":{"shape":"String"},
        "EnvironmentId":{"shape":"String"},
        "ActionId":{"shape":"String"}
      }
    },
    "ApplyEnvironmentManagedActionResult":{
      "type":"structure",
      "members":{
        "ActionId":{"shape":"String"},
        "ActionDescription":{"shape":"String"},
        "ActionType":{"shape":"ActionType"},
        "Status":{"shape":"String"}
      }
    },
    "AutoCreateApplication":{"type":"boolean"},
    "AutoScalingGroup":{
      "type":"structure",
      "members":{
        "Name":{"shape":"ResourceId"}
      }
    },
    "AutoScalingGroupList":{
      "type":"list",
      "member":{"shape":"AutoScalingGroup"}
    },
    "AvailableSolutionStackDetailsList":{
      "type":"list",
      "member":{"shape":"SolutionStackDescription"}
    },
    "AvailableSolutionStackNamesList":{
      "type":"list",
      "member":{"shape":"SolutionStackName"}
    },
    "CPUUtilization":{
      "type":"structure",
      "members":{
        "User":{"shape":"NullableDouble"},
        "Nice":{"shape":"NullableDouble"},
        "System":{"shape":"NullableDouble"},
        "Idle":{"shape":"NullableDouble"},
        "IOWait":{"shape":"NullableDouble"},
        "IRQ":{"shape":"NullableDouble"},
        "SoftIRQ":{"shape":"NullableDouble"}
      }
    },
    "Cause":{
      "type":"string",
      "min":1,
      "max":255
    },
    "Causes":{
      "type":"list",
      "member":{"shape":"Cause"}
    },
    "CfnEnvironmentResourceDescriptionList":{
      "type":"list",
      "member":{"shape":"CfnEnvironmentResourceItem"}
    },
    "CfnEnvironmentResourceItem":{
      "type":"structure",
      "members":{
        "Type":{"shape":"String"},
        "LogicalResourceId":{"shape":"String"},
        "PhysicalResourceId":{"shape":"String"},
        "Description":{"shape":"String"},
        "Properties":{"shape":"ResourcePropertyList"}
      }
    },
    "CheckDNSAvailabilityMessage":{
      "type":"structure",
      "required":["CNAMEPrefix"],
      "members":{
        "CNAMEPrefix":{"shape":"DNSCnamePrefix"}
      }
    },
    "CheckDNSAvailabilityResultMessage":{
      "type":"structure",
      "members":{
        "Available":{"shape":"CnameAvailability"},
        "FullyQualifiedCNAME":{"shape":"DNSCname"}
      }
    },
    "CnameAvailability":{"type":"boolean"},
    "ComposeEnvironmentsMessage":{
      "type":"structure",
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "GroupName":{"shape":"GroupName"},
        "VersionLabels":{"shape":"VersionLabels"}
      }
    },
    "ConfigurationDeploymentStatus":{
      "type":"string",
      "enum":[
        "deployed",
        "pending",
        "failed"
      ]
    },
    "ConfigurationOptionDefaultValue":{"type":"string"},
    "ConfigurationOptionDescription":{
      "type":"structure",
      "members":{
        "Namespace":{"shape":"OptionNamespace"},
        "Name":{"shape":"ConfigurationOptionName"},
        "DefaultValue":{"shape":"ConfigurationOptionDefaultValue"},
        "ChangeSeverity":{"shape":"ConfigurationOptionSeverity"},
        "UserDefined":{"shape":"UserDefinedOption"},
        "ValueType":{"shape":"ConfigurationOptionValueType"},
        "ValueOptions":{"shape":"ConfigurationOptionPossibleValues"},
        "MinValue":{"shape":"OptionRestrictionMinValue"},
        "MaxValue":{"shape":"OptionRestrictionMaxValue"},
        "MaxLength":{"shape":"OptionRestrictionMaxLength"},
        "Regex":{"shape":"OptionRestrictionRegex"},
        "Description":{"shape":"String"}
      }
    },
    "ConfigurationOptionDescriptionsList":{
      "type":"list",
      "member":{"shape":"ConfigurationOptionDescription"}
    },
    "ConfigurationOptionName":{"type":"string"},
    "ConfigurationOptionPossibleValue":{"type":"string"},
    "ConfigurationOptionPossibleValues":{
      "type":"list",
      "member":{"shape":"ConfigurationOptionPossibleValue"}
    },
    "ConfigurationOptionSetting":{
      "type":"structure",
      "members":{
        "ResourceName":{"shape":"ResourceName"},
        "Namespace":{"shape":"OptionNamespace"},
        "OptionName":{"shape":"ConfigurationOptionName"},
        "Value":{"shape":"ConfigurationOptionValue"}
      }
    },
    "ConfigurationOptionSettingsList":{
      "type":"list",
      "member":{"shape":"ConfigurationOptionSetting"}
    },
    "ConfigurationOptionSeverity":{"type":"string"},
    "ConfigurationOptionValue":{"type":"string"},
    "ConfigurationOptionValueType":{
      "type":"string",
      "enum":[
        "Scalar",
        "List"
      ]
    },
    "ConfigurationOptionsDescription":{
      "type":"structure",
      "members":{
        "SolutionStackName":{"shape":"SolutionStackName"},
        "Tier":{"shape":"EnvironmentTier"},
        "Options":{"shape":"ConfigurationOptionDescriptionsList"}
      }
    },
    "ConfigurationSettingsDescription":{
      "type":"structure",
      "members":{
        "SolutionStackName":{"shape":"SolutionStackName"},
        "ApplicationName":{"shape":"ApplicationName"},
        "TemplateName":{"shape":"ConfigurationTemplateName"},
        "Description":{"shape":"Description"},
        "Tier":{"shape":"EnvironmentTier"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "DeploymentStatus":{"shape":"ConfigurationDeploymentStatus"},
        "DateCreated":{"shape":"CreationDate"},
        "DateUpdated":{"shape":"UpdateDate"},
        "OptionSettings":{"shape":"ConfigurationOptionSettingsList"}
      }
    },
    "ConfigurationSettingsDescriptionList":{
      "type":"list",
      "member":{"shape":"ConfigurationSettingsDescription"}
    },
    "ConfigurationSettingsDescriptions":{
      "type":"structure",
      "members":{
        "ConfigurationSettings":{"shape":"ConfigurationSettingsDescriptionList"}
      }
    },
    "ConfigurationSettingsValidationMessages":{
      "type":"structure",
      "members":{
        "Messages":{"shape":"ValidationMessagesList"}
      }
    },
    "ConfigurationTemplateDescription":{
      "type":"structure",
      "members":{
        "SolutionStackName":{"shape":"SolutionStackName"},
        "ApplicationName":{"shape":"ApplicationName"},
        "TemplateName":{"shape":"ConfigurationTemplateName"},
        "Description":{"shape":"Description"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "DeploymentStatus":{"shape":"ConfigurationDeploymentStatus"},
        "DateCreated":{"shape":"CreationDate"},
        "DateUpdated":{"shape":"UpdateDate"},
        "OptionSettings":{"shape":"ConfigurationOptionSettingsList"}
      }
    },
    "ConfigurationTemplateName":{
      "type":"string",
      "min":1,
      "max":100,
      "pattern":"[^/]+"
    },
    "ConfigurationTemplateNamesList":{
      "type":"list",
      "member":{"shape":"ConfigurationTemplateName"}
    },
    "CreateApplicationMessage":{
      "type":"structure",
      "required":["ApplicationName"],
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "Description":{"shape":"Description"}
      }
    },
    "CreateApplicationVersionMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "VersionLabel"
      ],
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "VersionLabel":{"shape":"VersionLabel"},
        "Description":{"shape":"Description"},
        "SourceBuildInformation":{"shape":"SourceBuildInformation"},
        "SourceBundle":{"shape":"S3Location"},
        "SourceBundleUrl":{"shape":"S3LocationUrl"},
        "AutoCreateApplication":{"shape":"AutoCreateApplication"},
        "Process":{"shape":"ApplicationVersionProccess"}
      }
    },
    "CreateConfigurationTemplateMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "TemplateName"
      ],
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "TemplateName":{"shape":"ConfigurationTemplateName"},
        "Description":{"shape":"Description"},
        "Tier":{"shape":"EnvironmentTier"},
        "SolutionStackName":{"shape":"SolutionStackName"},
        "SourceConfiguration":{"shape":"SourceConfiguration"},
        "EnvironmentId":{"shape":"EnvironmentId"},
        "OptionSettings":{"shape":"ConfigurationOptionSettingsList"},
        "OptionsToRemove":{"shape":"OptionsSpecifierList"},
        "VersionLabel":{"shape":"VersionLabel"},
        "TemplateSpecification":{"shape":"EnvironmentTemplateSpecification"}
      }
    },
    "CreateEnvironmentMessage":{
      "type":"structure",
      "required":["ApplicationName"],
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "GroupName":{"shape":"GroupName"},
        "Description":{"shape":"Description"},
        "CNAMEPrefix":{"shape":"DNSCnamePrefix"},
        "Tier":{"shape":"EnvironmentTier"},
        "Tags":{"shape":"Tags"},
        "VersionLabel":{"shape":"VersionLabel"},
        "TemplateName":{"shape":"ConfigurationTemplateName"},
        "SolutionStackName":{"shape":"SolutionStackName"},
        "OptionSettings":{"shape":"ConfigurationOptionSettingsList"},
        "OptionsToRemove":{"shape":"OptionsSpecifierList"},
        "TemplateSpecification":{"shape":"EnvironmentTemplateSpecification"}
      }
    },
    "CreateStorageLocationResultMessage":{
      "type":"structure",
      "members":{
        "S3Bucket":{"shape":"S3Bucket"}
      }
    },
    "CreationDate":{"type":"timestamp"},
    "DNSCname":{
      "type":"string",
      "min":1,
      "max":255
    },
    "DNSCnamePrefix":{
      "type":"string",
      "min":4,
      "max":63
    },
    "DeleteApplicationMessage":{
      "type":"structure",
      "required":["ApplicationName"],
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "TerminateEnvByForce":{"shape":"TerminateEnvForce"}
      }
    },
    "DeleteApplicationVersionMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "VersionLabel"
      ],
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "VersionLabel":{"shape":"VersionLabel"},
        "DeleteSourceBundle":{"shape":"DeleteSourceBundle"}
      }
    },
    "DeleteConfigurationTemplateMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "TemplateName"
      ],
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "TemplateName":{"shape":"DeleteConfigurationTemplateName"}
      }
    },
    "DeleteConfigurationTemplateName":{
      "type":"string",
      "min":1,
      "max":100
    },
    "DeleteEnvironmentConfigurationMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "EnvironmentName"
      ],
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "EnvironmentName":{"shape":"EnvironmentName"}
      }
    },
    "DeleteSourceBundle":{"type":"boolean"},
    "Deployment":{
      "type":"structure",
      "members":{
        "VersionLabel":{"shape":"String"},
        "DeploymentId":{"shape":"NullableLong"},
        "Status":{"shape":"String"},
        "DeploymentTime":{"shape":"DeploymentTimestamp"}
      }
    },
    "DeploymentTimestamp":{"type":"timestamp"},
    "DescribeApplicationVersionsMessage":{
      "type":"structure",
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "VersionLabels":{"shape":"VersionLabelsList"}
      }
    },
    "DescribeApplicationsMessage":{
      "type":"structure",
      "members":{
        "ApplicationNames":{"shape":"ApplicationNamesList"}
      }
    },
    "DescribeConfigurationOptionsMessage":{
      "type":"structure",
      "members":{
        "Options":{"shape":"OptionsSpecifierList"},
        "ApplicationName":{"shape":"ApplicationName"},
        "TemplateName":{"shape":"ConfigurationTemplateName"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "Tier":{"shape":"EnvironmentTier"},
        "SolutionStackName":{"shape":"SolutionStackName"},
        "OptionSettings":{"shape":"ConfigurationOptionSettingsList"},
        "OptionsToRemove":{"shape":"OptionsSpecifierList"},
        "VersionLabel":{"shape":"VersionLabel"},
        "TemplateSpecification":{"shape":"EnvironmentTemplateSpecification"}
      }
    },
    "DescribeConfigurationSettingsMessage":{
      "type":"structure",
      "required":["ApplicationName"],
      "members":{
        "Options":{"shape":"OptionsSpecifierList"},
        "ApplicationName":{"shape":"ApplicationName"},
        "TemplateName":{"shape":"ConfigurationTemplateName"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "Tier":{"shape":"EnvironmentTier"},
        "SolutionStackName":{"shape":"SolutionStackName"},
        "OptionSettings":{"shape":"ConfigurationOptionSettingsList"},
        "OptionsToRemove":{"shape":"OptionsSpecifierList"},
        "VersionLabel":{"shape":"VersionLabel"},
        "TemplateSpecification":{"shape":"EnvironmentTemplateSpecification"}
      }
    },
    "DescribeEnvironmentHealthRequest":{
      "type":"structure",
      "members":{
        "EnvironmentName":{"shape":"EnvironmentName"},
        "EnvironmentId":{"shape":"EnvironmentId"},
        "AttributeNames":{"shape":"EnvironmentHealthAttributes"}
      }
    },
    "DescribeEnvironmentHealthResult":{
      "type":"structure",
      "members":{
        "EnvironmentName":{"shape":"EnvironmentName"},
        "HealthStatus":{"shape":"String"},
        "Status":{"shape":"EnvironmentHealth"},
        "Color":{"shape":"String"},
        "Causes":{"shape":"Causes"},
        "ApplicationMetrics":{"shape":"ApplicationMetrics"},
        "InstancesHealth":{"shape":"InstanceHealthSummary"},
        "RefreshedAt":{"shape":"RefreshedAt"}
      }
    },
    "DescribeEnvironmentManagedActionHistoryRequest":{
      "type":"structure",
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "NextToken":{"shape":"String"},
        "MaxItems":{"shape":"Integer"}
      }
    },
    "DescribeEnvironmentManagedActionHistoryResult":{
      "type":"structure",
      "members":{
        "ManagedActionHistoryItems":{"shape":"ManagedActionHistoryItems"},
        "NextToken":{"shape":"String"}
      }
    },
    "DescribeEnvironmentManagedActionsRequest":{
      "type":"structure",
      "members":{
        "EnvironmentName":{"shape":"String"},
        "EnvironmentId":{"shape":"String"},
        "Status":{"shape":"ActionStatus"}
      }
    },
    "DescribeEnvironmentManagedActionsResult":{
      "type":"structure",
      "members":{
        "ManagedActions":{"shape":"ManagedActions"}
      }
    },
    "DescribeEnvironmentResourcesMessage":{
      "type":"structure",
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "EnvironmentName":{"shape":"EnvironmentName"}
      }
    },
    "DescribeEnvironmentsMessage":{
      "type":"structure",
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "VersionLabel":{"shape":"VersionLabel"},
        "EnvironmentIds":{"shape":"EnvironmentIdList"},
        "EnvironmentNames":{"shape":"EnvironmentNamesList"},
        "IncludeDeleted":{"shape":"IncludeDeleted"},
        "IncludedDeletedBackTo":{"shape":"IncludeDeletedBackTo"}
      }
    },
    "DescribeEventsMessage":{
      "type":"structure",
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "VersionLabel":{"shape":"VersionLabel"},
        "TemplateName":{"shape":"ConfigurationTemplateName"},
        "EnvironmentId":{"shape":"EnvironmentId"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "RequestId":{"shape":"RequestId"},
        "Severity":{"shape":"EventSeverity"},
        "StartTime":{"shape":"TimeFilterStart"},
        "EndTime":{"shape":"TimeFilterEnd"},
        "MaxRecords":{"shape":"MaxRecords"},
        "NextToken":{"shape":"Token"}
      }
    },
    "DescribeInstancesHealthRequest":{
      "type":"structure",
      "members":{
        "EnvironmentName":{"shape":"EnvironmentName"},
        "EnvironmentId":{"shape":"EnvironmentId"},
        "AttributeNames":{"shape":"InstancesHealthAttributes"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeInstancesHealthResult":{
      "type":"structure",
      "members":{
        "InstanceHealthList":{"shape":"InstanceHealthList"},
        "RefreshedAt":{"shape":"RefreshedAt"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "Description":{
      "type":"string",
      "max":200
    },
    "Ec2InstanceId":{"type":"string"},
    "ElasticBeanstalkServiceException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ExceptionMessage"}
      },
      "exception":true
    },
    "EndpointURL":{"type":"string"},
    "EnvironmentAlert":{
      "type":"structure",
      "members":{
        "AlertId":{"shape":"String"}
      }
    },
    "EnvironmentAlertsList":{
      "type":"list",
      "member":{"shape":"EnvironmentAlert"}
    },
    "EnvironmentDescription":{
      "type":"structure",
      "members":{
        "EnvironmentName":{"shape":"EnvironmentName"},
        "EnvironmentId":{"shape":"EnvironmentId"},
        "ApplicationName":{"shape":"ApplicationName"},
        "VersionLabel":{"shape":"VersionLabel"},
        "SolutionStackName":{"shape":"SolutionStackName"},
        "TemplateName":{"shape":"ConfigurationTemplateName"},
        "Description":{"shape":"Description"},
        "EndpointURL":{"shape":"EndpointURL"},
        "CNAME":{"shape":"DNSCname"},
        "DateCreated":{"shape":"CreationDate"},
        "DateUpdated":{"shape":"UpdateDate"},
        "Status":{"shape":"EnvironmentStatus"},
        "AbortableOperationInProgress":{"shape":"AbortableOperationInProgress"},
        "Health":{"shape":"EnvironmentHealth"},
        "HealthStatus":{"shape":"EnvironmentHealthStatus"},
        "Resources":{"shape":"EnvironmentResourcesDescription"},
        "Alerts":{"shape":"EnvironmentAlertsList"},
        "Tier":{"shape":"EnvironmentTier"},
        "EnvironmentLinks":{"shape":"EnvironmentLinks"}
      }
    },
    "EnvironmentDescriptionsList":{
      "type":"list",
      "member":{"shape":"EnvironmentDescription"}
    },
    "EnvironmentDescriptionsMessage":{
      "type":"structure",
      "members":{
        "Environments":{"shape":"EnvironmentDescriptionsList"}
      }
    },
    "EnvironmentHealth":{
      "type":"string",
      "enum":[
        "Green",
        "Yellow",
        "Red",
        "Grey"
      ]
    },
    "EnvironmentHealthAttribute":{
      "type":"string",
      "enum":[
        "Status",
        "Color",
        "Causes",
        "ApplicationMetrics",
        "InstancesHealth",
        "All",
        "HealthStatus",
        "RefreshedAt"
      ]
    },
    "EnvironmentHealthAttributes":{
      "type":"list",
      "member":{"shape":"EnvironmentHealthAttribute"}
    },
    "EnvironmentHealthStatus":{
      "type":"string",
      "enum":[
        "NoData",
        "Unknown",
        "Pending",
        "Ok",
        "Info",
        "Warning",
        "Degraded",
        "Severe"
      ]
    },
    "EnvironmentId":{"type":"string"},
    "EnvironmentIdList":{
      "type":"list",
      "member":{"shape":"EnvironmentId"}
    },
    "EnvironmentInfoDescription":{
      "type":"structure",
      "members":{
        "InfoType":{"shape":"EnvironmentInfoType"},
        "Ec2InstanceId":{"shape":"Ec2InstanceId"},
        "SampleTimestamp":{"shape":"SampleTimestamp"},
        "Message":{"shape":"Message"}
      }
    },
    "EnvironmentInfoDescriptionList":{
      "type":"list",
      "member":{"shape":"EnvironmentInfoDescription"}
    },
    "EnvironmentInfoType":{"type":"string"},
    "EnvironmentLink":{
      "type":"structure",
      "members":{
        "LinkName":{"shape":"String"},
        "EnvironmentName":{"shape":"String"}
      }
    },
    "EnvironmentLinks":{
      "type":"list",
      "member":{"shape":"EnvironmentLink"}
    },
    "EnvironmentName":{
      "type":"string",
      "min":4,
      "max":40
    },
    "EnvironmentNamesList":{
      "type":"list",
      "member":{"shape":"EnvironmentName"}
    },
    "EnvironmentResourceDescription":{
      "type":"structure",
      "members":{
        "EnvironmentName":{"shape":"EnvironmentName"},
        "AutoScalingGroups":{"shape":"AutoScalingGroupList"},
        "Instances":{"shape":"InstanceList"},
        "LaunchConfigurations":{"shape":"LaunchConfigurationList"},
        "LoadBalancers":{"shape":"LoadBalancerList"},
        "Triggers":{"shape":"TriggerList"},
        "Resources":{"shape":"CfnEnvironmentResourceDescriptionList"},
        "Queues":{"shape":"QueueList"}
      }
    },
    "EnvironmentResourceDescriptionsMessage":{
      "type":"structure",
      "members":{
        "EnvironmentResources":{"shape":"EnvironmentResourceDescription"}
      }
    },
    "EnvironmentResourcesDescription":{
      "type":"structure",
      "members":{
        "LoadBalancer":{"shape":"LoadBalancerDescription"},
        "RegisteredVersions":{"shape":"TemplateVersionsList"}
      }
    },
    "EnvironmentStatus":{
      "type":"string",
      "enum":[
        "Launching",
        "Updating",
        "Ready",
        "Terminating",
        "Terminated"
      ]
    },
    "EnvironmentTemplateSpecification":{
      "type":"structure",
      "members":{
        "TemplateSource":{"shape":"TemplateSource"},
        "TemplateSnippets":{"shape":"TemplateSnippetList"},
        "Parameters":{"shape":"TemplateParameterList"}
      }
    },
    "EnvironmentTier":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "Type":{"shape":"String"},
        "Version":{"shape":"String"}
      }
    },
    "EventDate":{"type":"timestamp"},
    "EventDescription":{
      "type":"structure",
      "members":{
        "EventDate":{"shape":"EventDate"},
        "Message":{"shape":"EventMessage"},
        "ApplicationName":{"shape":"ApplicationName"},
        "VersionLabel":{"shape":"VersionLabel"},
        "TemplateName":{"shape":"ConfigurationTemplateName"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "RequestId":{"shape":"RequestId"},
        "Severity":{"shape":"EventSeverity"}
      }
    },
    "EventDescriptionList":{
      "type":"list",
      "member":{"shape":"EventDescription"}
    },
    "EventDescriptionsMessage":{
      "type":"structure",
      "members":{
        "Events":{"shape":"EventDescriptionList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "EventMessage":{"type":"string"},
    "EventSeverity":{
      "type":"string",
      "enum":[
        "TRACE",
        "DEBUG",
        "INFO",
        "WARN",
        "ERROR",
        "FATAL"
      ]
    },
    "ExceptionMessage":{"type":"string"},
    "FailureType":{
      "type":"string",
      "enum":[
        "UpdateCancelled",
        "CancellationFailed",
        "RollbackFailed",
        "RollbackSuccessful",
        "InternalFailure",
        "InvalidEnvironmentState",
        "PermissionsError"
      ]
    },
    "FileTypeExtension":{
      "type":"string",
      "min":1,
      "max":100
    },
    "ForceTerminate":{"type":"boolean"},
    "GroupName":{
      "type":"string",
      "min":1,
      "max":19
    },
    "IncludeDeleted":{"type":"boolean"},
    "IncludeDeletedBackTo":{"type":"timestamp"},
    "Instance":{
      "type":"structure",
      "members":{
        "Id":{"shape":"ResourceId"}
      }
    },
    "InstanceHealthList":{
      "type":"list",
      "member":{"shape":"SingleInstanceHealth"}
    },
    "InstanceHealthSummary":{
      "type":"structure",
      "members":{
        "NoData":{"shape":"NullableInteger"},
        "Unknown":{"shape":"NullableInteger"},
        "Pending":{"shape":"NullableInteger"},
        "Ok":{"shape":"NullableInteger"},
        "Info":{"shape":"NullableInteger"},
        "Warning":{"shape":"NullableInteger"},
        "Degraded":{"shape":"NullableInteger"},
        "Severe":{"shape":"NullableInteger"}
      }
    },
    "InstanceId":{
      "type":"string",
      "min":1,
      "max":255
    },
    "InstanceList":{
      "type":"list",
      "member":{"shape":"Instance"}
    },
    "InstancesHealthAttribute":{
      "type":"string",
      "enum":[
        "HealthStatus",
        "Color",
        "Causes",
        "ApplicationMetrics",
        "RefreshedAt",
        "LaunchedAt",
        "System",
        "Deployment",
        "AvailabilityZone",
        "InstanceType",
        "All"
      ]
    },
    "InstancesHealthAttributes":{
      "type":"list",
      "member":{"shape":"InstancesHealthAttribute"}
    },
    "InsufficientPrivilegesException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InsufficientPrivilegesException",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
    },
    "Integer":{"type":"integer"},
    "InvalidRequestException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidRequestException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The request is invalid, please check parameters and their values</p>"
    },
    "Latency":{
      "type":"structure",
      "members":{
        "P999":{"shape":"NullableDouble"},
        "P99":{"shape":"NullableDouble"},
        "P95":{"shape":"NullableDouble"},
        "P90":{"shape":"NullableDouble"},
        "P85":{"shape":"NullableDouble"},
        "P75":{"shape":"NullableDouble"},
        "P50":{"shape":"NullableDouble"},
        "P10":{"shape":"NullableDouble"}
      }
    },
    "LaunchConfiguration":{
      "type":"structure",
      "members":{
        "Name":{"shape":"ResourceId"}
      }
    },
    "LaunchConfigurationList":{
      "type":"list",
      "member":{"shape":"LaunchConfiguration"}
    },
    "LaunchedAt":{"type":"timestamp"},
    "ListAvailableSolutionStacksResultMessage":{
      "type":"structure",
      "members":{
        "SolutionStacks":{"shape":"AvailableSolutionStackNamesList"},
        "SolutionStackDetails":{"shape":"AvailableSolutionStackDetailsList"}
      }
    },
    "Listener":{
      "type":"structure",
      "members":{
        "Protocol":{"shape":"String"},
        "Port":{"shape":"Integer"}
      }
    },
    "LoadAverage":{
      "type":"list",
      "member":{"shape":"LoadAverageValue"}
    },
    "LoadAverageValue":{"type":"double"},
    "LoadBalancer":{
      "type":"structure",
      "members":{
        "Name":{"shape":"ResourceId"}
      }
    },
    "LoadBalancerDescription":{
      "type":"structure",
      "members":{
        "LoadBalancerName":{"shape":"String"},
        "Domain":{"shape":"String"},
        "Listeners":{"shape":"LoadBalancerListenersDescription"}
      }
    },
    "LoadBalancerList":{
      "type":"list",
      "member":{"shape":"LoadBalancer"}
    },
    "LoadBalancerListenersDescription":{
      "type":"list",
      "member":{"shape":"Listener"}
    },
    "ManagedAction":{
      "type":"structure",
      "members":{
        "ActionId":{"shape":"String"},
        "ActionDescription":{"shape":"String"},
        "ActionType":{"shape":"ActionType"},
        "Status":{"shape":"ActionStatus"},
        "WindowStartTime":{"shape":"Timestamp"}
      }
    },
    "ManagedActionHistoryItem":{
      "type":"structure",
      "members":{
        "ActionId":{"shape":"String"},
        "ActionType":{"shape":"ActionType"},
        "ActionDescription":{"shape":"String"},
        "FailureType":{"shape":"FailureType"},
        "Status":{"shape":"ActionHistoryStatus"},
        "FailureDescription":{"shape":"String"},
        "ExecutedTime":{"shape":"Timestamp"},
        "FinishedTime":{"shape":"Timestamp"}
      }
    },
    "ManagedActionHistoryItems":{
      "type":"list",
      "member":{"shape":"ManagedActionHistoryItem"},
      "min":1,
      "max":100
    },
    "ManagedActionInvalidStateException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ManagedActionInvalidStateException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Managed update is not in a valid state to be modified</p>"
    },
    "ManagedActions":{
      "type":"list",
      "member":{"shape":"ManagedAction"},
      "min":1,
      "max":100
    },
    "MaxRecords":{
      "type":"integer",
      "min":1,
      "max":1000
    },
    "Message":{"type":"string"},
    "MissingRequiredResourceException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"MissingRequiredResourceException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Required resources associated with specified parameters are missing.</p>"
    },
    "NextToken":{
      "type":"string",
      "min":1,
      "max":100
    },
    "NullableDouble":{"type":"double"},
    "NullableInteger":{"type":"integer"},
    "NullableLong":{"type":"long"},
    "OperationInProgressException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"OperationInProgressFailure",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Unable to perform the specified operation because another operation is already in progress affecting an element in this activity.</p>"
    },
    "OptionNamespace":{"type":"string"},
    "OptionRestrictionMaxLength":{"type":"integer"},
    "OptionRestrictionMaxValue":{"type":"integer"},
    "OptionRestrictionMinValue":{"type":"integer"},
    "OptionRestrictionRegex":{
      "type":"structure",
      "members":{
        "Pattern":{"shape":"RegexPattern"},
        "Label":{"shape":"RegexLabel"}
      }
    },
    "OptionSpecification":{
      "type":"structure",
      "members":{
        "ResourceName":{"shape":"ResourceName"},
        "Namespace":{"shape":"OptionNamespace"},
        "OptionName":{"shape":"ConfigurationOptionName"}
      }
    },
    "OptionsSpecifierList":{
      "type":"list",
      "member":{"shape":"OptionSpecification"}
    },
    "Queue":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "URL":{"shape":"String"}
      }
    },
    "QueueList":{
      "type":"list",
      "member":{"shape":"Queue"}
    },
    "RebuildEnvironmentMessage":{
      "type":"structure",
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "EnvironmentName":{"shape":"EnvironmentName"}
      }
    },
    "RefreshedAt":{"type":"timestamp"},
    "RegexLabel":{"type":"string"},
    "RegexPattern":{"type":"string"},
    "RequestCount":{"type":"integer"},
    "RequestEnvironmentInfoMessage":{
      "type":"structure",
      "required":["InfoType"],
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "InfoType":{"shape":"EnvironmentInfoType"}
      }
    },
    "RequestId":{"type":"string"},
    "ResourceId":{"type":"string"},
    "ResourceName":{
      "type":"string",
      "min":1,
      "max":256
    },
    "ResourceProperty":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "Value":{"shape":"String"}
      }
    },
    "ResourcePropertyList":{
      "type":"list",
      "member":{"shape":"ResourceProperty"}
    },
    "RestartAppServerMessage":{
      "type":"structure",
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "EnvironmentName":{"shape":"EnvironmentName"}
      }
    },
    "RetrieveEnvironmentInfoMessage":{
      "type":"structure",
      "required":["InfoType"],
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "InfoType":{"shape":"EnvironmentInfoType"}
      }
    },
    "RetrieveEnvironmentInfoResultMessage":{
      "type":"structure",
      "members":{
        "EnvironmentInfo":{"shape":"EnvironmentInfoDescriptionList"}
      }
    },
    "S3Bucket":{
      "type":"string",
      "max":255
    },
    "S3Key":{
      "type":"string",
      "max":1024
    },
    "S3Location":{
      "type":"structure",
      "members":{
        "S3Bucket":{"shape":"S3Bucket"},
        "S3Key":{"shape":"S3Key"}
      }
    },
    "S3LocationNotInServiceRegionException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"S3LocationNotInServiceRegionException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The specified S3 bucket does not belong to the S3 region in which the service is running.</p>"
    },
    "S3LocationUrl":{
      "type":"string",
      "pattern":"(s3|https?)://(.+\\.)?s3((-|\\.).+)?\\.amazonaws\\.com(.cn)?/.+$"
    },
    "S3SubscriptionRequiredException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"S3SubscriptionRequiredException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The caller does not have a subscription to Amazon S3.</p>"
    },
    "SampleTimestamp":{"type":"timestamp"},
    "SingleInstanceHealth":{
      "type":"structure",
      "members":{
        "InstanceId":{"shape":"InstanceId"},
        "HealthStatus":{"shape":"String"},
        "Color":{"shape":"String"},
        "Causes":{"shape":"Causes"},
        "LaunchedAt":{"shape":"LaunchedAt"},
        "ApplicationMetrics":{"shape":"ApplicationMetrics"},
        "System":{"shape":"SystemStatus"},
        "Deployment":{"shape":"Deployment"},
        "AvailabilityZone":{"shape":"String"},
        "InstanceType":{"shape":"String"}
      }
    },
    "SnippetContents":{"type":"string"},
    "SnippetOrder":{"type":"long"},
    "SolutionStackDescription":{
      "type":"structure",
      "members":{
        "SolutionStackName":{"shape":"SolutionStackName"},
        "PermittedFileTypes":{"shape":"SolutionStackFileTypeList"}
      }
    },
    "SolutionStackFileTypeList":{
      "type":"list",
      "member":{"shape":"FileTypeExtension"}
    },
    "SolutionStackName":{
      "type":"string",
      "max":100
    },
    "SourceBuildInformation":{
      "type":"structure",
      "required":[
        "SourceType",
        "SourceRepository",
        "SourceLocation"
      ],
      "members":{
        "SourceType":{"shape":"SourceType"},
        "SourceRepository":{"shape":"SourceRepository"},
        "SourceLocation":{"shape":"SourceLocation"}
      }
    },
    "SourceBundleDeletionException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"SourceBundleDeletionFailure",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Unable to delete the Amazon S3 source bundle associated with the application version, although the application version deleted successfully.</p>"
    },
    "SourceConfiguration":{
      "type":"structure",
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "TemplateName":{"shape":"ConfigurationTemplateName"}
      }
    },
    "SourceLocation":{
      "type":"string",
      "min":3,
      "max":255,
      "pattern":".+/.+"
    },
    "SourceRepository":{
      "type":"string",
      "enum":["CodeCommit"]
    },
    "SourceType":{
      "type":"string",
      "enum":["Git"]
    },
    "StatusCodes":{
      "type":"structure",
      "members":{
        "Status2xx":{"shape":"NullableInteger"},
        "Status3xx":{"shape":"NullableInteger"},
        "Status4xx":{"shape":"NullableInteger"},
        "Status5xx":{"shape":"NullableInteger"}
      }
    },
    "String":{"type":"string"},
    "SwapEnvironmentCNAMEsMessage":{
      "type":"structure",
      "members":{
        "SourceEnvironmentId":{"shape":"EnvironmentId"},
        "SourceEnvironmentName":{"shape":"EnvironmentName"},
        "DestinationEnvironmentId":{"shape":"EnvironmentId"},
        "DestinationEnvironmentName":{"shape":"EnvironmentName"}
      }
    },
    "SystemStatus":{
      "type":"structure",
      "members":{
        "CPUUtilization":{"shape":"CPUUtilization"},
        "LoadAverage":{"shape":"LoadAverage"}
      }
    },
    "Tag":{
      "type":"structure",
      "members":{
        "Key":{"shape":"TagKey"},
        "Value":{"shape":"TagValue"}
      }
    },
    "TagKey":{
      "type":"string",
      "min":1,
      "max":128
    },
    "TagValue":{
      "type":"string",
      "min":1,
      "max":256
    },
    "Tags":{
      "type":"list",
      "member":{"shape":"Tag"}
    },
    "TemplateParameter":{
      "type":"structure",
      "members":{
        "Parameter":{"shape":"String"},
        "Value":{"shape":"String"}
      }
    },
    "TemplateParameterList":{
      "type":"list",
      "member":{"shape":"TemplateParameter"}
    },
    "TemplateSnippet":{
      "type":"structure",
      "members":{
        "SnippetName":{"shape":"String"},
        "SourceUrl":{"shape":"S3LocationUrl"},
        "SnippetContents":{"shape":"SnippetContents"},
        "Order":{"shape":"SnippetOrder"}
      }
    },
    "TemplateSnippetList":{
      "type":"list",
      "member":{"shape":"TemplateSnippet"}
    },
    "TemplateSource":{
      "type":"structure",
      "members":{
        "SolutionStackName":{"shape":"SolutionStackName"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "SourceContents":{"shape":"String"}
      }
    },
    "TemplateVersion":{
      "type":"structure",
      "members":{
        "VersionLabel":{"shape":"VersionLabel"},
        "ModuleName":{"shape":"String"},
        "SourceIdentifier":{"shape":"String"}
      }
    },
    "TemplateVersionsList":{
      "type":"list",
      "member":{"shape":"TemplateVersion"}
    },
    "TemporaryMaintainanceException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TemporaryMaintainanceException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Unable to perform the specified operation because of temporary maintenance activity</p>"
    },
    "TerminateEnvForce":{"type":"boolean"},
    "TerminateEnvironmentMessage":{
      "type":"structure",
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "TerminateResources":{"shape":"TerminateEnvironmentResources"},
        "ForceTerminate":{"shape":"ForceTerminate"}
      }
    },
    "TerminateEnvironmentResources":{"type":"boolean"},
    "TimeFilterEnd":{"type":"timestamp"},
    "TimeFilterStart":{"type":"timestamp"},
    "Timestamp":{"type":"timestamp"},
    "Token":{"type":"string"},
    "TooManyApplicationVersionsException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>The caller has exceeded the limit on the number of application versions associated with their account.</p>"
    },
    "TooManyApplicationsException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TooManyApplicationsException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The caller has exceeded the limit on the number of applications associated with their account.</p>"
    },
    "TooManyBucketsException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TooManyBucketsException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
    },
    "TooManyConfigurationTemplatesException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TooManyConfigurationTemplatesException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The caller has exceeded the limit on the number of configuration templates associated with their account.</p>"
    },
    "TooManyEnvironmentsException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TooManyEnvironmentsException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The caller has exceeded the limit of allowed environments associated with the account.</p>"
    },
    "Trigger":{
      "type":"structure",
      "members":{
        "Name":{"shape":"ResourceId"}
      }
    },
    "TriggerList":{
      "type":"list",
      "member":{"shape":"Trigger"}
    },
    "UpdateApplicationMessage":{
      "type":"structure",
      "required":["ApplicationName"],
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "Description":{"shape":"Description"}
      }
    },
    "UpdateApplicationVersionMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "VersionLabel"
      ],
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "VersionLabel":{"shape":"VersionLabel"},
        "Description":{"shape":"Description"}
      }
    },
    "UpdateConfigurationTemplateMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "TemplateName"
      ],
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "TemplateName":{"shape":"ConfigurationTemplateName"},
        "Description":{"shape":"Description"},
        "SolutionStackName":{"shape":"SolutionStackName"},
        "SourceConfiguration":{"shape":"SourceConfiguration"},
        "EnvironmentId":{"shape":"EnvironmentId"},
        "OptionSettings":{"shape":"ConfigurationOptionSettingsList"},
        "OptionsToRemove":{"shape":"OptionsSpecifierList"},
        "VersionLabel":{"shape":"VersionLabel"},
        "TemplateSpecification":{"shape":"EnvironmentTemplateSpecification"},
        "Tier":{"shape":"EnvironmentTier"}
      }
    },
    "UpdateDate":{"type":"timestamp"},
    "UpdateEnvironmentMessage":{
      "type":"structure",
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "EnvironmentId":{"shape":"EnvironmentId"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "GroupName":{"shape":"GroupName"},
        "Description":{"shape":"Description"},
        "Tier":{"shape":"EnvironmentTier"},
        "VersionLabel":{"shape":"VersionLabel"},
        "TemplateName":{"shape":"ConfigurationTemplateName"},
        "SolutionStackName":{"shape":"SolutionStackName"},
        "OptionSettings":{"shape":"ConfigurationOptionSettingsList"},
        "OptionsToRemove":{"shape":"OptionsSpecifierList"},
        "TemplateSpecification":{"shape":"EnvironmentTemplateSpecification"}
      }
    },
    "UserDefinedOption":{"type":"boolean"},
    "ValidateConfigurationSettingsMessage":{
      "type":"structure",
      "required":["ApplicationName"],
      "members":{
        "Options":{"shape":"OptionsSpecifierList"},
        "ApplicationName":{"shape":"ApplicationName"},
        "TemplateName":{"shape":"ConfigurationTemplateName"},
        "EnvironmentName":{"shape":"EnvironmentName"},
        "Tier":{"shape":"EnvironmentTier"},
        "SolutionStackName":{"shape":"SolutionStackName"},
        "OptionSettings":{"shape":"ConfigurationOptionSettingsList"},
        "OptionsToRemove":{"shape":"OptionsSpecifierList"},
        "VersionLabel":{"shape":"VersionLabel"},
        "TemplateSpecification":{"shape":"EnvironmentTemplateSpecification"}
      }
    },
    "ValidationMessage":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ValidationMessageString"},
        "Severity":{"shape":"ValidationSeverity"},
        "Namespace":{"shape":"OptionNamespace"},
        "OptionName":{"shape":"ConfigurationOptionName"}
      }
    },
    "ValidationMessageString":{"type":"string"},
    "ValidationMessagesList":{
      "type":"list",
      "member":{"shape":"ValidationMessage"}
    },
    "ValidationSeverity":{
      "type":"string",
      "enum":[
        "error",
        "warning"
      ]
    },
    "VersionLabel":{
      "type":"string",
      "min":1,
      "max":100,
      "pattern":"[^/]+"
    },
    "VersionLabels":{
      "type":"list",
      "member":{"shape":"VersionLabel"}
    },
    "VersionLabelsList":{
      "type":"list",
      "member":{"shape":"VersionLabel"}
    }
  },
  "examples":{
  }
}