files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app*

  "/opt/elasticbeanstalk/tasks/publishlogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app*gz

  "/opt/elasticbeanstalk/tasks/systemtaillogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app.log

  "/var/tmp/bundle_install_local.rb":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env ruby
      
      file_path = '/opt/elasticbeanstalk/hooks/appdeploy/pre/10_bundle_install.sh'
      contents = File.read file_path
      contents.gsub! 'bundle install', 'bundle install --local'
      File.open(file_path, 'w') { |f| f.write contents }

      puts %[switched "#{file_path}" to use default "bundle install --local"]

commands:
  "00-mkdir-backup":
    command: "mkdir -p /var/tmp/backup"
  "01-backup-bundle_install":
    command: "cp -a /opt/elasticbeanstalk/hooks/appdeploy/pre/10_bundle_install.sh /var/tmp/backup"
  "02-bundle_install_local":
    command: "ruby /var/tmp/bundle_install_local.rb"
  "10-cleanup":
    command: "rm -f /var/tmp/bundle_install_local.rb"
