files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app*

  "/opt/elasticbeanstalk/tasks/publishlogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app*gz

  "/opt/elasticbeanstalk/tasks/systemtaillogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app.log
